
.checkoutProduct{
    display: flex;
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin: 24px;
}
.checkoutProduct__image{
    object-fit: cover;
    height: 100%;
    width: 250px;
}
.checkoutProduct__info{
    padding-left: 20px;
    height: 100%;
    width: 400px;
    /*position: relative*/
}
.checkoutProduct__price{
    /*position: absolute;
    bottom: 0;*/
    margin: auto;

}
.product__row{
    display: flex;
    justify-content: space-between;
}
.checkoutProduct__button{
    cursor: pointer;
    top:0;
    right:0;
}