*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #261A0D;
  
}
body{
  background-color: #FEFCFB;
}
svg path{
  fill: #261A0D;
}
.app {
  font-family: 'Montserrat', sans-serif;
}
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Cyrene Regular';
  text-decoration: none;
}
h2{
  font-weight: 500;
}
h3, h4, h5{
  font-weight: 300;
}
