*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  font-family: 'Open Sans', sans-serif;
}
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Cyrene Regular';
  text-decoration: none;
}